# Environments
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# Data
signal-ai-data/

# Caches
__pycache__/
.mypy_cache/
.ruff_cache/
signal-cli-config/

# Editor configs
.vscode/

# Build artifacts
build/
dist/
*.egg-info/

# Local development environment
.venv/
